<div class="pages">
  <div class="page-header">
    <div class="title-wrapper">
      <h2 class="title">Schedule Activities</h2>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="page-actions">
      <button class="ui primary medium button fluid" (click)="onLogout()">Sign Out</button>
    </div>
  </div>
  <div class="page-content">
    <div class="ui grid">
      <div class="ten wide column">
        <div class="list-content">
          <app-activities-list 
            (editActivity)="showModal($event)" 
            (deleteActivity)="deleteActivity($event)" 
            (updateactivity)="updateactivity($event)"
            (hidemodal)="hidemodal($event)"
            [activities]="activities"></app-activities-list>
        </div>
      </div>
      <div class="six wide column">
        <div style="display: block">
          <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [legend]=false></canvas>
        </div>
      </div>
    </div>
  </div>
</div>