.ui.header {
    padding: 15px;
    padding-bottom: 0px;
}

.right.floated.column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    box-sizing: border-box;
}