<table class="ui very basic table">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let activity of activities">
      <td>{{ activity.activity_name }}</td>
      <td>{{ activity.activity_date }}</td>
      <td>
        <div class="ui icon basic buttons">
          <button class="ui button" (click)="onEdit(activity)">
            <i class="write icon"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-dialog-box [showModal]="showModal" 
                [activity]="selectedActivity" 
                (updateActivity)="updateActivity($event)"
                 (hideModal)="hideModal($event)"></app-dialog-box>