<lsu-modal [(ngModel)]="showModal" [options]="modalOptions">
  <div class="header">
    Edit Activity
  </div>
  <form class="ui form" id="activity-form">
    <div class="field">
      <label>Activity</label>
      <input type="text"
             id="activityName"
             name="activityName" 
             placeholder="Enter Activity..."
            #activityName>
    </div>
      <div class="field">
        <label>Date</label>
        <div id="date" class="date field">
          <input type="text" 
                 id="activityDate"
                 placeholder="yyyy-mm-dd" 
                 appDatePicker 
                 date-only="true" 
                 date-format="YYYY-MM-DD"
                #activityDate>
        </div>
      </div>
  </form>
  <div class="actions">
    <div class="ui button" (click)="cancel()">Cancel</div>
    <div class="ui primary button" (click)="update(activityName.value, activityDate.value)">Update</div>
  </div>
</lsu-modal>