<table class="ui very basic table">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Category</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let activity of activities">
      <td>{{ activity.activity_name }}</td>
      <td>{{ activity.category }}</td>
      <td>{{ activity.activity_date }}</td>
      <td>
        <div class="ui icon basic buttons">
          <button class="ui button" (click)="onEdit(activity)">
            <i class="write icon"></i>
          </button>
          <button class="ui button" (click)="onDelete(activity)">
            <i class="trash icon"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>